{% extends 'web_homepage/base.html' %}
{% block content %}
    <div class="columns is-desktop">
        <div class="column">

            <form method="post" action="{{ url('password_change') }}" class="box">
                <h2 class="title is-5">Passwort ändern</h2>
                {{ csrf_input }}

                {% for key,field in form.fields.items() %}
                    {% set field = form.__getitem__(key) %}
                    <div class="field">
                        <label class="label">{{ field.label }}</label>
                        <div class="control has-icons-left">
                            {% set _ = field.field.widget.attrs.update({'class':'input ' + ("is-danger" if key in form.errors else "")}) %}
                            <span class="icon is-small is-left"><i class="fas fa-user"></i></span>
                            {{ field }}
                        </div>
                        <div class="help {% if form.errors[key] %}is-danger{% endif %}">
                            {% if form.errors[key] %}{{ form.errors[key] }}
                            {% endif %}
                            {{ field.help_text|safe }}</div>
                    </div>
                {% endfor %}
                <input type="submit" class="button is-link" value="Passwort ändern">
                <input type="hidden" name="next" value="{{ next }}">
            </form>
        </div>
        <div class="column">
        </div>
    </div>
{% endblock %}
{#

Django administration
Home › Password change
Password change

Please enter your old password, for security’s sake, and then enter your new password twice so we can verify you typed it in correctly.
Old password:
New password:

    Your password can’t be too similar to your other personal information.
    Your password must contain at least 8 characters.
    Your password can’t be a commonly used password.
    Your password can’t be entirely numeric.

New password confirmation:

#}