{% extends 'web_homepage/base.html' %}
{% block content %}
    <div class="columns is-desktop">
        <div class="column">
            <div class="box">
                <h2 class="title is-5">Passwort zurücksetzen</h2>
                <div class="notification is-info">
                    <p>Wenn zu der angegebenen Mailadresse ein Account hinterlegt ist, haben wir dir an diese Adresse einen Link zum Passwortreset gesendet.
                        Falls du diesen nicht erhalten hast, schau bitte in deinen Spam-Ordner, und kontrolliere die eingegebene Mailadresse. </p>
                </div>
                <a href="{{ url ('login') }}" class="button is-link is-light">Erneut versuchen</a>
            </div>
        </div>
        <div class="column">
            <div class="box">
                <h2 class="title is-5">Neues Passwort gesetzt?</h2>
                <a href="{{ url ('login') }}" class="button is-link">Zurück zum Login</a>
            </div>
        </div>
    </div>
{% endblock %}