{% extends 'web_homepage/base.html' %}
{% block content %}
    <div class="columns is-desktop">
        <div class="column">
            <div class="box">
                <h2 class="title is-5">Passwort ändern</h2>
                <div class="notification is-success">
                    <p>Passwortänderung erfolgreich<!doctype html>
                        <html lang="en">
                        <head>
                            <meta charset="UTF-8">
                            <meta
                                    name="viewport"
                                    content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
                            <meta http-equiv="X-UA-Compatible" content="ie=edge">
                            <title>Document</title>
                        </head>
                        <body>
                        
                        </body>
                        </html></p>
                </div>
                <a href="{{ url ('home') }}" class="button is-link">Zur Startseite</a>
            </div>
        </div>
        <div class="column">
        </div>
    </div>
{% endblock %}