{% extends 'web_homepage/base.html' %}
{% block content %}
    <div class="columns is-desktop">
        <div class="column">
            <form method="post" action="{{ url('password_reset') }}" class="box">
                <h2 class="title is-5">Passwort zurücksetzen</h2>
                {% if form.errors %}
                    <div class="notification is-danger">
                        <p>Your username and password didn't match. Please try again.</p>
                    </div>
                {% endif %}
                {{ csrf_input }}
                <div class="field">
                    <label class="label">{{ form.email.label_tag() }}</label>
                    <div class="control has-icons-left">
                        {% set _ = form.email.field.widget.attrs.update({'class':'input'}) %}
                        {{ form.email }}
                        <span class="icon is-small is-left"><i class="fas fa-user"></i></span>
                    </div>
                    <p class="help">Bitte gib die in deinem Profil hinterlegte Mailadresse an,
                        dann senden wir dir einen Link zur Vergabe eines neuen Kennworts zu.</p>
                </div>
                {{ form.__dict__ }}
                <input type="submit" class="button is-link" value="Login">
            </form>
        </div>
        <div class="column">
            <div class="box">
                <h2 class="title is-5">Passwort wieder eingefallen?</h2>
                <a href="{{ url ('login') }}" class="button is-link is-light">Zurück zum Login</a>
            </div>
        </div>
    </div>
{% endblock %}